[Section1]
optionString: "test1"
optionBoolean: True
optionInteger: 100

[Section2]
optionString: "test2"
optionBoolean: False
optionInteger: -100


# used to configure the connection to the database
[Database]
mysql_config: {
            'user': '',
            'password': '',
            'host': 'localhost',
            'database': 'test',
            'raise_on_warnings': True
        }
# used to configure check_rejects function in CronJob_ResponseCount.py
check_rejects: {
            'respons': "REJECT",
            'last_minutes': 1000000,
            'time_interval_seconds': 60,
            'num_responses': 10
        }

# used to configure the email sending functionality
[Email]
smtp_config: {
            'type': 'SMTP',
            'host': 'smtp.srce.hr',
            'port': 25,
        }
send_report_options: {
            'subject': "Test Subject",
            'recipients': ["test@test.hr", "vedran.semenski@srce.hr"],
            'sender': 'no-reply@test.hr'
        }
# used to configure the logging functionality
[Log]
log_file_name: "project.log"

# end
