[Section1]
optionString: "test1"
optionBoolean: True
optionInteger: 100

[Section2]
optionString: "test2"
optionBoolean: False
optionInteger: -100


# used to configure the connection to the database
[Database]
mysql_config: {
            'user': '',
            'password': '',
            'host': 'localhost',
            'database': 'test',
            'raise_on_warnings': True
        }

# used to configure the email sending functionality
[Email]
smtp_config: {
            'type': 'SMTP',
            'host': 'smtp.tesr.com',
            'port': 25,
        }
send_report_options: {
            'subject': "Test Subject",
            'recipients': ["test@test.com"],
            'sender': 'no-reply@test.com'
        }
# used to configure the logging functionality
[Log]
log_file_name: "test.log"

# end
